### DATA PREPARATION ðŸ‘¾ ðŸ˜¼

In [1]:
#Import pandas Library 
import pandas as pd

In [2]:
# Read Dirty DataFrames
country = pd.read_csv("country.csv")
league = pd.read_csv("league.csv")
match = pd.read_csv("match.csv")
team = pd.read_csv("team.csv")

In [25]:
# Show all match information
match.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           5555 non-null   int64
 1   country_id   5555 non-null   int64
 2   season       5555 non-null   object
 3   stage        5555 non-null   int64
 4   date         5555 non-null   object
 5   hometeam_id  5555 non-null   int64
 6   awayteam_id  5555 non-null   int64
 7   home_goal    5555 non-null   int64
 8   away_goal    5555 non-null   int64
dtypes: int64(7), object(2)
memory usage: 390.7+ KB

### TEAMS

##### Germany

In [4]:
# Create a list of a german clubs
clubs = ['FC Bayern Munich', 'Hamburger SV', 'Bayer 04 Leverkusen', 'Borussia Dortmund', 'FC Schalke 04', 'Hannover 96', 'VfL Wolfsburg', '1. FC KÃ¶ln', 'Eintracht Frankfurt', 'Hertha BSC Berlin',
         'SV Werder Bremen', 'TSG 1899 Hoffenheim', 'Borussia MÃ¶nchengladbach', 'VfB Stuttgart', 'SC Freiburg', '1. FC NÃ¼rnberg', '1. FSV Mainz 05', '1. FC Kaiserslautern', 'FC Augsburg', 'Fortuna DÃ¼sseldorf', 'SpVgg Greuther FÃ¼rth', 'Eintracht Braunschweig', 'SC Paderborn 07']

# Use .isin() to select rows where 'team_short_name' matches clubs
teams_germany = team[team['team_long_name'].isin(clubs)]

# Display the selected rows
print(teams_germany.head())

       id  team_api_id       team_long_name team_short_name
94  15617         9823     FC Bayern Munich             BMU
95  15618         9790         Hamburger SV             HAM
96  15619         8178  Bayer 04 Leverkusen             LEV
97  15620         9789    Borussia Dortmund             DOR
98  15621        10189        FC Schalke 04             S04

In [5]:
# Show the shape of the DF
teams_germany.shape

(23, 4)

In [6]:
# Show the columns name of the DF
print(teams_germany.columns)

Index(['id', 'team_api_id', 'team_long_name', 'team_short_name'], dtype='object')

In [6]:
# Show all informations about the DF
print(teams_germany.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 94 to 121
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               23 non-null     int64
 1   team_api_id      23 non-null     int64
 2   team_long_name   23 non-null     object
 3   team_short_name  23 non-null     object
dtypes: int64(2), object(2)
memory usage: 920.0+ bytes
None

In [7]:
# Export the DataFrame to a CSV file
teams_germany.to_csv('teams_germany.csv', index=False)

##### Italy

In [7]:
clubs = ['Atalanta', 'Siena', 'Cagliari', 'Lazio', 'Catania', 'Genoa', 'Chievo Verona', 'Fiorentina', 'Juventus', 'Milan',
         'Bologna', 'Roma', 'Napoli', 'Sampdoria', 'Inter', 'Torino', 'Lecce', 'Udinese', 'Palermo', 'Livorno', 
         'Parma', 'Cesena', 'Novara', 'Pescara', 'Hellas Verona', 'Sassuolo', 'Empoli']

# Use .isin() to select rows where 'team_short_name' matches clubs
teams_italy = team[team['team_long_name'].isin(clubs)]

# Display the selected rows
print(teams_italy)

        id  team_api_id team_long_name team_short_name
124  20513         8524       Atalanta             ATA
125  20514         8551          Siena             SIE
126  20515         8529       Cagliari             CAG
127  20516         8543          Lazio             LAZ
128  20517         8530        Catania             CAT
129  20518        10233          Genoa             GEN
130  20519         8533  Chievo Verona             CHI
132  20521         8535     Fiorentina             FIO
133  20522         9885       Juventus             JUV
134  20523         8564          Milan             ACM
135  20524         9857        Bologna             BOL
136  20525         8686           Roma             ROM
137  20526         9875         Napoli             NAP
138  20527         9882      Sampdoria             SAM
139  20528         8636          Inter             INT
140  20529         9804         Torino             TOR
141  20530         9888          Lecce             LEC
142  20531         8600        Udinese             UDI
143  20532         8540        Palermo             PAL
145  21285         8537        Livorno             LIV
146  21292        10167          Parma             PAR
147  22042         9880         Cesena             CES
149  22805         6269         Novara             NOV
150  23523         9878        Pescara             PES
151  24273         9876  Hellas Verona             VER
152  24288         7943       Sassuolo             SAS
153  25048         8534         Empoli             EMP

In [8]:
# Show the shape of the DF
teams_italy.shape

(27, 4)

In [9]:
# Show the columns of the DF
print(teams_italy.columns)

Index(['id', 'team_api_id', 'team_long_name', 'team_short_name'], dtype='object')

In [10]:
# Show all infos of the DF
print(teams_italy.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 27 entries, 124 to 153
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               27 non-null     int64
 1   team_api_id      27 non-null     int64
 2   team_long_name   27 non-null     object
 3   team_short_name  27 non-null     object
dtypes: int64(2), object(2)
memory usage: 1.1+ KB
None

In [12]:
# Export the DataFrame to a CSV file
teams_italy.to_csv('teams_italy.csv', index=False)

### MATCHES

##### Germany

In [11]:
# Select and show the german matchs and create a new DF matches_germany
matches_germany = match[(match['country_id'] == 7809)]
print(matches_germany.head())

        id  country_id     season  stage                      date  \
3772  8727        7809  2011/2012      1  2011-08-05T00:00:00.000Z
3773  8728        7809  2011/2012      1  2011-08-06T00:00:00.000Z
3774  8729        7809  2011/2012      1  2011-08-06T00:00:00.000Z
3775  8730        7809  2011/2012      1  2011-08-07T00:00:00.000Z
3776  8731        7809  2011/2012      1  2011-08-06T00:00:00.000Z

      hometeam_id  awayteam_id  home_goal  away_goal
3772         9789         9790          3          1
3773         8697         8350          2          0
3774         9904         8226          2          1
3775         9905         8178          2          0
3776        10269        10189          3          0

In [12]:
# Show the columns of the DF matches_germany
print(matches_germany.columns)

Index(['id', 'country_id', 'season', 'stage', 'date', 'hometeam_id',
       'awayteam_id', 'home_goal', 'away_goal'],
      dtype='object')

In [13]:
# Show all the informations of the DF matches_germany
print(matches_germany.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1224 entries, 3772 to 4995
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1224 non-null   int64
 1   country_id   1224 non-null   int64
 2   season       1224 non-null   object
 3   stage        1224 non-null   int64
 4   date         1224 non-null   object
 5   hometeam_id  1224 non-null   int64
 6   awayteam_id  1224 non-null   int64
 7   home_goal    1224 non-null   int64
 8   away_goal    1224 non-null   int64
dtypes: int64(7), object(2)
memory usage: 95.6+ KB
None

In [14]:
# Export the DF to a CSV file
matches_germany.to_csv("matches_germany.csv", index=False)

In [15]:
# Show the columns of the DF
print(team.columns)

Index(['id', 'team_api_id', 'team_long_name', 'team_short_name'], dtype='object')

##### Italy

In [16]:
# Select and show the italien matchs and create a new DF matches_italy
matches_italy = match[(match['country_id'] == 10257)]
print(matches_italy.head())

         id  country_id     season  stage                      date  \
4996  11397       10257  2011/2012      1  2011-12-21T00:00:00.000Z
4997  11398       10257  2011/2012      1  2011-12-21T00:00:00.000Z
4998  11399       10257  2011/2012      1  2011-12-20T00:00:00.000Z
4999  11400       10257  2011/2012      1  2011-12-21T00:00:00.000Z
5000  11401       10257  2011/2012      1  2011-12-21T00:00:00.000Z

      hometeam_id  awayteam_id  home_goal  away_goal
4996         8524         9880          4          1
4997         9857         8686          0          2
4998         8529         8564          0          2
4999         8636         9888          4          1
5000         8543         8533          0          0

In [17]:
# Show the columns of the DF
print(matches_italy.columns)

Index(['id', 'country_id', 'season', 'stage', 'date', 'hometeam_id',
       'awayteam_id', 'home_goal', 'away_goal'],
      dtype='object')

In [18]:
#Show all the informations of the DF
print(matches_italy.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 559 entries, 4996 to 5554
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           559 non-null    int64
 1   country_id   559 non-null    int64
 2   season       559 non-null    object
 3   stage        559 non-null    int64
 4   date         559 non-null    object
 5   hometeam_id  559 non-null    int64
 6   awayteam_id  559 non-null    int64
 7   home_goal    559 non-null    int64
 8   away_goal    559 non-null    int64
dtypes: int64(7), object(2)
memory usage: 43.7+ KB
None

In [21]:
# Export the DF to a CSV file
matches_italy.to_csv("matches_italy.csv", index=False)

#### matches_2013_2014

In [20]:
# Select and show the matchs played between 2013/2014 and create a new DF matches_2013_2014
matches_2013_2014 = match[(match['season'] == '2013/2014')]
print(matches_2013_2014.head())

       id  country_id     season  stage                      date  \
480  1237           1  2013/2014      1  2014-03-29T00:00:00.000Z
481  1238           1  2013/2014      1  2014-03-29T00:00:00.000Z
482  1239           1  2013/2014      2  2014-04-05T00:00:00.000Z
483  1240           1  2013/2014      2  2014-04-05T00:00:00.000Z
484  1241           1  2013/2014      3  2014-04-12T00:00:00.000Z

     hometeam_id  awayteam_id  home_goal  away_goal
480         8475         9989          2          0
481         9991         8573          0          1
482         9989         9991          1          0
483         8573         8475          0          0
484         9991         8475          2          1

In [21]:
#Show the Columns of the DF
print(matches_2013_2014.columns)

Index(['id', 'country_id', 'season', 'stage', 'date', 'hometeam_id',
       'awayteam_id', 'home_goal', 'away_goal'],
      dtype='object')

In [22]:
#Show all the info of the DF
print(matches_2013_2014.info())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1078 entries, 480 to 4689
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   id           1078 non-null   int64
 1   country_id   1078 non-null   int64
 2   season       1078 non-null   object
 3   stage        1078 non-null   int64
 4   date         1078 non-null   object
 5   hometeam_id  1078 non-null   int64
 6   awayteam_id  1078 non-null   int64
 7   home_goal    1078 non-null   int64
 8   away_goal    1078 non-null   int64
dtypes: int64(7), object(2)
memory usage: 84.2+ KB
None

In [23]:
# Export the DF to a CSV file
matches_2013_2014.to_csv("matches_2013_2014.csv", index=False)