### DATA PREPARATION üëæ üòº

In [1]:
# Import pandas library

import pandas as pd

In [2]:
# Read Dirty DataFrames
d1 = pd.read_csv("films.csv", header=None)
d2 = pd.read_csv("people.csv", header=None)
d3 = pd.read_csv("reviews.csv", header=None)
d4 = pd.read_csv("roles.csv", header=None)

### DATA EXPLORATION üßê

In [3]:
# See DataFrames
print("Films DF : \n", 
    d1.head(), 
    "\n", "*****"*10, "\n",

    "People DF : \n", 
    d2.head(), 
    "\n", "*****"*10, "\n",

    "Reviews DF : \n", 
    d3.head(), 
    "\n", "*****"*10, "\n",

    "Roles DF : \n",
    d4.head(), 
    "\n", "*****"*10, "\n",)

Films DF :
    0                                                 1       2        3  \
0  1  Intolerance: Love's Struggle Throughout the Ages  1916.0      USA
1  2                    Over the Hill to the Poorhouse  1920.0      USA
2  3                                    The Big Parade  1925.0      USA
3  4                                        Metropolis  1927.0  Germany
4  5                                     Pandora's Box  1929.0  Germany

       4       5          6          7          8
0  123.0     NaN  Not Rated        NaN   385907.0
1  110.0     NaN        NaN  3000000.0   100000.0
2  151.0     NaN  Not Rated        NaN   245000.0
3  145.0  German  Not Rated    26435.0  6000000.0
4  110.0  German  Not Rated     9950.0        NaN
 **************************************************
 People DF :
    0                   1           2    3
0  1             50 Cent  1975-07-06  NaN
1  2  A. Michael Baldwin  1963-04-04  NaN
2  3       A. Raven Cruz         NaN  NaN
3  4        A.J. Buckley  1978-02-09  NaN
4  5        A.J. DeLucia         NaN  NaN
 **************************************************
 Reviews DF :
       0       1      2    3       4      5
0  3934   588.0  432.0  7.1  203461  46000
1  3405   285.0  267.0  6.4  149998      0
2   478    65.0   29.0  3.2    8465    491
3    74    83.0   25.0  7.6    7071    930
4  1254  1437.0  224.0  8.0  241030  13000
 **************************************************
 Roles DF :
    0  1     2         3
0  1  1  1630  director
1  2  1  4843     actor
2  3  1  5050     actor
3  4  1  8175     actor
4  5  2  3000  director
 **************************************************

In [4]:
# Adding headers to DFs
print(d1.shape)

(4968, 9)

In [5]:
# Create a copy
df1 = d1.copy()

In [6]:
# Create headers column
h = ["id",	"title",	"release_year",	"country",	"duration",	"language",	"certification",	"gross",	"budget"]
print(f"headers {h} \n\n length of headers list {len(h)}")

headers ['id', 'title', 'release_year', 'country', 'duration', 'language', 'certification', 'gross', 'budget']

 length of headers list 9

In [7]:
# Add header column 
df1.columns = h
print(df1.shape)

(4968, 9)

In [8]:
print(df1.head())

   id                                             title  release_year  \
0   1  Intolerance: Love's Struggle Throughout the Ages        1916.0
1   2                    Over the Hill to the Poorhouse        1920.0
2   3                                    The Big Parade        1925.0
3   4                                        Metropolis        1927.0
4   5                                     Pandora's Box        1929.0

   country  duration language certification      gross     budget
0      USA     123.0      NaN     Not Rated        NaN   385907.0
1      USA     110.0      NaN           NaN  3000000.0   100000.0
2      USA     151.0      NaN     Not Rated        NaN   245000.0
3  Germany     145.0   German     Not Rated    26435.0  6000000.0
4  Germany     110.0   German     Not Rated     9950.0        NaN

In [9]:
# See the diffrence üòÅüòÅüòÅ
print(
    "Old Films DF : \n", d1.head(), "\n \n",
    #Separation
    "****"*12,"\n \n",
    "New Films DF : \n", df1.head())

Old Films DF :
    0                                                 1       2        3  \
0  1  Intolerance: Love's Struggle Throughout the Ages  1916.0      USA
1  2                    Over the Hill to the Poorhouse  1920.0      USA
2  3                                    The Big Parade  1925.0      USA
3  4                                        Metropolis  1927.0  Germany
4  5                                     Pandora's Box  1929.0  Germany

       4       5          6          7          8
0  123.0     NaN  Not Rated        NaN   385907.0
1  110.0     NaN        NaN  3000000.0   100000.0
2  151.0     NaN  Not Rated        NaN   245000.0
3  145.0  German  Not Rated    26435.0  6000000.0
4  110.0  German  Not Rated     9950.0        NaN

 ************************************************

 New Films DF :
    id                                             title  release_year  \
0   1  Intolerance: Love's Struggle Throughout the Ages        1916.0
1   2                    Over the Hill to the Poorhouse        1920.0
2   3                                    The Big Parade        1925.0
3   4                                        Metropolis        1927.0
4   5                                     Pandora's Box        1929.0

   country  duration language certification      gross     budget
0      USA     123.0      NaN     Not Rated        NaN   385907.0
1      USA     110.0      NaN           NaN  3000000.0   100000.0
2      USA     151.0      NaN     Not Rated        NaN   245000.0
3  Germany     145.0   German     Not Rated    26435.0  6000000.0
4  Germany     110.0   German     Not Rated     9950.0        NaN

### Now we're gonna do this to 'll DFs

In [10]:
#Creating copy of each DF 
df2 = d2.copy()
df3 = d3.copy()
df4 = d4.copy()

#Create Columns 
h2 = ["id", "name",	"birthdate", "deathdate"]
h3 = ["film_id", "num_user", "num_critic", "imdb_score", "num_votes",	"facebook_likes"]
h4 = ["id",	"film_id",	"person_id",	"role"]

# Adding headers 
df2.columns = h2
df3.columns = h3
df4.columns = h4

In [11]:
# See DataFrames
print("Films DF : \n", 
    df1.head(3), 
    "\n", "*****"*10, "\n",

    "People DF : \n", 
    df2.head(3), 
    "\n", "*****"*10, "\n",

    "Reviews DF : \n", 
    df3.head(3), 
    "\n", "*****"*10, "\n",

    "Roles DF : \n",
    df4.head(3), 
    "\n", "*****"*10, "\n",)

Films DF :
    id                                             title  release_year country  \
0   1  Intolerance: Love's Struggle Throughout the Ages        1916.0     USA
1   2                    Over the Hill to the Poorhouse        1920.0     USA
2   3                                    The Big Parade        1925.0     USA

   duration language certification      gross    budget
0     123.0      NaN     Not Rated        NaN  385907.0
1     110.0      NaN           NaN  3000000.0  100000.0
2     151.0      NaN     Not Rated        NaN  245000.0
 **************************************************
 People DF :
    id                name   birthdate deathdate
0   1             50 Cent  1975-07-06       NaN
1   2  A. Michael Baldwin  1963-04-04       NaN
2   3       A. Raven Cruz         NaN       NaN
 **************************************************
 Reviews DF :
    film_id  num_user  num_critic  imdb_score  num_votes  facebook_likes
0     3934     588.0       432.0         7.1     203461           46000
1     3405     285.0       267.0         6.4     149998               0
2      478      65.0        29.0         3.2       8465             491
 **************************************************
 Roles DF :
    id  film_id  person_id      role
0   1        1       1630  director
1   2        1       4843     actor
2   3        1       5050     actor
 **************************************************

In [12]:
# See NaNs
print(
    "Films NaNs \n \n", df1.isna().sum(), "\n \n", "-------" * 10, "\n \n")

print(
    "Peoples NaNs \n \n", df2.isna().sum(), "\n \n", "-------" * 10, "\n \n")

print(
    "Reviews NaNs \n \n", df3.isna().sum(), "\n \n", "-------" * 10, "\n \n")

print(
    "Roles NaNs \n \n", df4.isna().sum(), "\n \n", "-------" * 10, "\n \n")

Films NaNs

 id                 0
title              0
release_year      42
country            2
duration          13
language          11
certification    302
gross            810
budget           430
dtype: int64

 ----------------------------------------------------------------------


Peoples NaNs

 id              0
name            0
birthdate    2245
deathdate    7610
dtype: int64

 ----------------------------------------------------------------------


Reviews NaNs

 film_id            0
num_user          19
num_critic        46
imdb_score         0
num_votes          0
facebook_likes     0
dtype: int64

 ----------------------------------------------------------------------


Roles NaNs

 id           0
film_id      0
person_id    0
role         0
dtype: int64

 ----------------------------------------------------------------------

In [13]:
# Convert all NaNs into (999999) 
df1['release_year'] = df1['release_year'].fillna(999999)
df1['country'] = df1['country'].fillna(999999)
df1['duration'] = df1['duration'].fillna(999999)
df1['language'] = df1['language'].fillna(999999)
df1['certification'] = df1['certification'].fillna(999999)
df1['gross'] = df1['gross'].fillna(999999)
df1['budget'] = df1['budget'].fillna(999999)

df2['birthdate'] = df2['birthdate'].fillna(999999)
df2['deathdate'] = df2['deathdate'].fillna(999999)

df3['num_user'] = df3['num_user'].fillna(999999)
df3['num_critic'] = df3['num_critic'].fillna(999999)

In [14]:
# Explore DataFrames variables
print(df1.info(), df2.info(), df3.info(), df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4968 entries, 0 to 4967
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4968 non-null   int64
 1   title          4968 non-null   object
 2   release_year   4968 non-null   float64
 3   country        4968 non-null   object
 4   duration       4968 non-null   float64
 5   language       4968 non-null   object
 6   certification  4968 non-null   object
 7   gross          4968 non-null   float64
 8   budget         4968 non-null   float64
dtypes: float64(4), int64(1), object(4)
memory usage: 349.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8397 entries, 0 to 8396
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         8397 non-null   int64
 1   name       8397 non-null   object
 2   birthdate  8397 non-null   object
 3   deathdate  8397 non-null   object
dtypes: int64(1), object(3)
memory usage: 262.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4968 entries, 0 to 4967
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   film_id         4968 non-null   int64
 1   num_user        4968 non-null   float64
 2   num_critic      4968 non-null   float64
 3   imdb_score      4968 non-null   float64
 4   num_votes       4968 non-null   int64
 5   facebook_likes  4968 non-null   int64
dtypes: float64(3), int64(3)
memory usage: 233.0 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19791 entries, 0 to 19790
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         19791 non-null  int64
 1   film_id    19791 non-null  int64
 2   person_id  19791 non-null  int64
 3   role       19791 non-null  object
dtypes: int64(3), object(1)
memory usage: 618.6+ KB
None None None None

In [15]:
# convert all float variables except "imdb_score"
df1["release_year"]=df1["release_year"].astype(int)
df1["duration"]=df1["duration"].astype(int)
df1["gross"]=df1["gross"].astype(int)
df1["budget"]=df1["budget"].astype(int)

df3["num_user"]=df3["num_user"].astype(int)
df3["num_critic"]=df3["num_critic"].astype(int)

In [16]:
# Let's check variables types again 
print(df1.info(), df2.info(), df3.info(), df4.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4968 entries, 0 to 4967
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             4968 non-null   int64
 1   title          4968 non-null   object
 2   release_year   4968 non-null   int32
 3   country        4968 non-null   object
 4   duration       4968 non-null   int32
 5   language       4968 non-null   object
 6   certification  4968 non-null   object
 7   gross          4968 non-null   int32
 8   budget         4968 non-null   int32
dtypes: int32(4), int64(1), object(4)
memory usage: 271.8+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8397 entries, 0 to 8396
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         8397 non-null   int64
 1   name       8397 non-null   object
 2   birthdate  8397 non-null   object
 3   deathdate  8397 non-null   object
dtypes: int64(1), object(3)
memory usage: 262.5+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4968 entries, 0 to 4967
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   film_id         4968 non-null   int64
 1   num_user        4968 non-null   int32
 2   num_critic      4968 non-null   int32
 3   imdb_score      4968 non-null   float64
 4   num_votes       4968 non-null   int64
 5   facebook_likes  4968 non-null   int64
dtypes: float64(1), int32(2), int64(3)
memory usage: 194.2 KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19791 entries, 0 to 19790
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         19791 non-null  int64
 1   film_id    19791 non-null  int64
 2   person_id  19791 non-null  int64
 3   role       19791 non-null  object
dtypes: int64(3), object(1)
memory usage: 618.6+ KB
None None None None

In [17]:
print(df1.head(3))

   id                                             title  release_year country  \
0   1  Intolerance: Love's Struggle Throughout the Ages          1916     USA
1   2                    Over the Hill to the Poorhouse          1920     USA
2   3                                    The Big Parade          1925     USA

   duration language certification    gross  budget
0       123   999999     Not Rated   999999  385907
1       110   999999        999999  3000000  100000
2       151   999999     Not Rated   999999  245000

In [18]:
print(df2.head())

   id                name   birthdate deathdate
0   1             50 Cent  1975-07-06    999999
1   2  A. Michael Baldwin  1963-04-04    999999
2   3       A. Raven Cruz      999999    999999
3   4        A.J. Buckley  1978-02-09    999999
4   5        A.J. DeLucia      999999    999999

In [19]:
# Back to the original DFs
df1 = df1.replace(to_replace=999999, value='')
df2 = df2.replace(to_replace=999999, value='')
df3 = df3.replace(to_replace=999999, value='')

### DFs EXPORT üé∞

In [20]:
# Convert all DFs Row into List of tuples

def tuple_conv (data):
    li = []
    for i in range(len(data)):
        x = tuple(data.iloc[i]) 
        li.append(x)
    return li

f_inst = tuple_conv(df1)
p_inst = tuple_conv(df2)
rv_inst = tuple_conv(df3)
ro_inst = tuple_conv(df4)

In [21]:
 # Save them all in seperate files

file = open("films_insert.txt", "w")

for tuple in f_inst : 
    file.write(str(tuple) + ',' + '\n')

file.close

file = open("people_insert.txt", "w")

for tuple in p_inst : 
    file.write(str(tuple) + ',' + '\n')

file.close

file = open("reviews_insert.txt", "w")

for tuple in rv_inst : 
    file.write(str(tuple) + ',' + '\n')

file.close

file = open("roles_insert.txt", "w")

for tuple in ro_inst : 
    file.write(str(tuple) + ',' + '\n')

file.close